[mysqld]
server-id = 2
relay_log = mysql-relay-bin
log_bin = mysql-bin
binlog_format = ROW
read_only = 1

# Rendimiento
innodb_buffer_pool_size = 512M
innodb_log_file_size = 128M
max_connections = 200

# Seguridad
local_infile = 0
skip-symbolic-links
